@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 5rem;
  border: none;
  border-radius: var(--border-radius);
  background: var(--gradient-primary, var(--primary-color, #ccc));
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  color: var(--button-font-color);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover {
    box-shadow: var(--box-shadow);
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline-color: var(--focus-color);
  }
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--button-font-color);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.2rem solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
